/* This is the file, "fonts.css." */
  @font-face {
    font-family: 'Times' ;
    src: url('../fonts/Times-Regular.tff') format('truetype');
    font-style: normal;
  }
@font-face {
  font-family: 'Times' ;
  src: url('../fonts/Times-Bold.tff') format('truetype');
  font-weight: 500 ;
  }
@font-face{
  font-family :'Merriweather';
  src: url('../fonts/Merriweather-Regualr.tff') format('truetype');
  font-style: normal;
}
@font-face{
  font-family:'Merriweather';
  src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: 500;  
}
