* {
    box-sizing: border-box;
}

.textareacomments{
    padding-bottom: 300px;
}
body{
    background-color: LightCoral;
}
div{
    text-align: left;
    line-height: 1.55em;
    font-family: Merriweather, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}
h1, h3, h5{
    text-align: center;
    font-family: Helvetica, sans-serif;

}
.opening-paragraph{
    color: black;
    font-size: 17px;
    text-indent: 10px;
    font-weight:800;

}

.opening-paragraph::first-line{
    font-size: 17px;
}
.second-paragraph{
    font-size: 17px;
}

table{
    border: 1px black;
    font-family:  Helvetica, sans-serif;
    font-weight: 800;
    padding: 10px;
}

p{
  font-family: Merriweather, sans-serif
}

/*Set header design: */
header {
  position: fixed;
   top: 0px;
   left: 0px;
   background-color: PeachPuff ;
   font-family: Merriweather;
   text-transform: uppercase;
   margin-top: 0;
   height: 5em;
   width: 100%;
   text-align: left;
}

/*Set Layout of Menu: */
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 5em;
    text-align: center;
    background-color: LightYellow;
    padding: 0.5em 1em

}

/*Style the Links: */
.menu-item a {
  color: lavender;
  text-decoration: none ;

}

.menu-item:hover {
    background-color: LightGray;
}

/*Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid black;
    margin: 0.5em 0 0 -1em;
    color: black;
    background-color: white;
    z-index: 1;
}
.dropdown-content a {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 6em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: LightCoral;
}

.mainimage{
    float: left;
    content:url("../images/wedding-image.jpeg");

}
.secondimage{
    float:right;
    content:url("../images/senior-portrait.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .secondimage{
        float:right;
        content:url("../images/senior-portrait.jpeg");
    }
}

.thirdimage{
    margin: auto;
    content:url("../images/about-page.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .thirdimage{
        margin: auto;
        content:url("../images/about-page.jpeg");
      }
}


.fourthimage{
    margin:auto;
    content:url("../images/editorial.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .fourthimage{
        margin: auto;
        content:url("../images/editorial.jpeg");
    }
}

.fifthimage{
    margin:auto;
    content:url("../images/family-portrait.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .fifthimage{
        margin: auto;
        content:url("../images/family-portrait.jpeg");
    }
}
.col-1 {width: 9.33%;}
.col-2 {width: 18.66%;}
.col-3 {width: 25%;}
.col-4 {width: 30.33%;}
.col-5 {width: 42.66%;}
.col-6 {width: 50%;}
.col-7 {width: 59.33%;}
.col-8 {width: 67.66%;}
.col-9 {width: 75%;}
.col-10 {width: 84.33%;}
.col-11 {width: 93.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 20px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.contact{
    width:60%;
    margin-left: 25%;

}
