div{
  text-align:left;
  line-height: 1.5em
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  padding: 5px;

}

h1, h2 ,h3{
  text-align:center;
  font-family: Merriweather, sans-serif;


}

.Chapter 21: Millions of Mirrors{
  color: black
  font-size: 20px;
  text-indent:10px;
  font-weight:600:
}

.Chapter21: Millions of Mirrors: first-line{
  font-size: 20px

}


}
#book_info:hover{
  font-family: Merriweather, sans-serif;
  text-decoration: underline;
  font-weight:600;

}
table{
  border: 1px dashed black;
  font-family: Verdana, sans-serif;
  font-weight:600;
  padding: 10px

}
p{
  font-family: Verdana, sans-serif;
}


/* Header Design*/
header {
  position: fixed;
  top: 0px
  left:0px
  background-color: yellow
  font-family: Merriweather
  text-transform: uppercase;
  margin-top:0;
  height: 5em;
  width: 100%;
  text-align: center;
}

/* Layout of menu: */
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: white;
    padding: 0.5em 1em;
}

/* Stylings links: */
.menu-item a {
    color: blue;
    text-decoration: none;
}

.menu-item:hover {
    background-color: light-blue;

}

/* Dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid black;
    margin: 0.5em 0 0 -1em;
    color: gray;
    background-color: black;
    z-index: 1;
}
.dropdown-content a {
    color: gray;
}

dropdown:hover .dropdown-content {
    display: block;
}

/* Styling dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 6.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: gray;
}

.mainimage{
    float: left;
}

.bookcover{
    float:right;
}
